*{
    background-color: #e5daed
}

.nav_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.nav_list li{
    display: inline-block;
    list-style-type: none;
}

.nav_list a{
    color: black;
}

.nav_list button{
    background-color: lavender;
}
